
@{
    ViewData["Title"] = "Streamed Single File Upload with AJAX";
    var message = ViewBag.Message ?? "";
}

<h1>Stream and process a movie</h1>
@Html.ValidationSummary()

<form id="uploadForm" action="Streaming/StreamFile" method="post" 
    enctype="multipart/form-data" onsubmit="AJAXSubmit(this);return false;">
    <dl>
        <dt>
            <label for="title" class="col-2 col-form-label">Movie title</label>
        </dt>
        <dd>
          <div class="col col-sm-6">
              <input id="title" name="title" class="form-control" />
          </div>
        </dd>
        <dt>
            <label for="file" class="col-2 col-form-label">Upload movie</label>
        </dt>
        <dd>
          <div class="col col-sm-6">
            <input id="file" type="file" name="file" class="form-control" />
          </div>
        </dd>
    </dl>

    <button type="submit" value="Upload" class="btn btn-primary">Upload</button>

    <div style="margin-top:15px">
        <output form="uploadForm" name="result"></output>
    </div>
</form>

<br>
<h4 id="message"></h4>

<div class="Imdb">
  
</div>

@section Scripts {
  <script>
    "use strict";

    async function AJAXSubmit (oFormElement) {
        const formData = new FormData(oFormElement);
        console.log(oFormElement.action);
      try {
        const response = await fetch(oFormElement.action, {
          method: 'POST',
          headers: {
            'RequestVerificationToken': getCookie('RequestVerificationToken')
          },
          body: formData
        });

        oFormElement.elements.namedItem("result").value = 
          'Response: ' + response.status + "     "+ await response.text();

      } catch (error) {
        console.error('Error:', error);
      }
    }

    function getCookie (name) {
      var value = "; " + document.cookie;
      var parts = value.split("; " + name + "=");
      if (parts.length == 2) return parts.pop().split(";").shift();
    }
  </script>
}